
$content = @"
# FRONTEND PROJECT IGNORE FILE
node_modules
/build
/dist
/out
.env
.env.local
.eslintcache
.vite
.cache
/backend
"@
Set-Content -Path D:\sports-platform\frontend\.gitignore -Value $content